 <!--Inicio TAG FOOTER-->
 <footer class="page-footer font-small bg-warning pt-4">
   
    <div class="container">
        <!--Inicio CONTAINER-->
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Siga-nos nas redes sociais </h4>
            </div>
        </div>
    
        <!--Inicio Logos e redes sociais-->
    
        <div class="row"> <!--Inicio DIV ROW-->
            <div class="col-md-12 d-flex justify-content-center"> <!--Inicio col-md-12 d-flex justify-content-center-->
              <ul class="social-network"> 
                  <!--Inicio social-network-->
                  <li>
                    <a href="https://www.linkedin.com/in/rafaelaa-oliveira/" target="_blank" class="icoFacebook">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://github.com/Rafaelaoliveira-1" target="_blank" class="icogitHub">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                  </li>
              </ul>
              <!--Fim social-network-->
    
            </div> <!--Fim col-md-12 d-flex justify-content-center-->
        </div> <!--Fim DIV ROW-->  
    
            <!--Fim Logos e redes sociais-->
    
         <!--Final CONTAINER-->
    </div>
    
    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light">
            2021 Todos os direitos reservados | Criado por Rafaela Silva
        </span>
    </div>
    
        <!--Final TAG FOOTER-->
</footer>