<!--Inicio CONTAINER FLUID-->
<div class="container-fluid">
    <!--Inicio DIV ROW-->
    <div class="row d-flex align-items-center">
        <!--Inicio col-md-6-->
        <div class="col-md-6">

            <div class="row d-flex justify-content-center">
            <!--Inicio row d-flex justify-content-->

                <div class="col-md-6">
                <!--Inicio col-md-6-->

                    <h1 class="text-center mb-3">
                       Entrar 
                    </h1>

                    <div class="form-group">
                        <label for="usuario">
                            Usuário
                        </label>
                        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Digite o seu usuário">
                    </div>

                    <div class="form-group">
                        <label for="senha">
                            Senha
                        </label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success">
                            Entrar
                        </button>
                    </div>

                    <hr class="mt-3 mb-3">

                    <p class="text-center">
                        Não possui uma conta? <a href="">Cadastre-se!</a>
                    </p>


                <!--Fim col-md-6-->
                </div>

            <!--Fim row d-flex justify-content-->
            </div>

        <!--Fim col-md-6-->
        </div>

        <!--Inicio col-md-6-->
        <div class="col-md-6" id="img-bg"><!--Fim col-md-6--></div>

    <!--Fim DIV ROW-->
    </div>

<!--Fim CONTAINER FLUID-->
</div> 
