<!--Inicio Container-Fluid-->
<div class="container-fluid">
        <!--Inicio row-->
        <div class="row bg-warning d-flex align-items-center">
            <!--Inicio COL-MD -6 ESQUERDA-->
            <div class="col-md-6">
                <!--Inicio row d-flex justify-content-center ESQUERDA-->
                <div class="row d-flex justify-content-center">
                    <!--Inicio col-md-6 BEM VINDO-->
                    <div class="col-md-6 text-white">
                        <h1 class="fs-50">
                            Seja bem-vindo (a)!
                        </h1>
                        <h5 class="fs-18">
                            Espresse aqui seus pensamentos e opniões!
                        </h5>
                    <!--Fim col-md-6 BEM VINDO-->
                    </div>
                 <!--Fim row d-flex justify-content-center ESQUERDA-->
                </div>

                <!--Inicio row BOTÕES-->
                <div class="row d-flex justify-content-center mt-3 mb-5">
                    <!--Inicio COL-MD -6 BOTÕES-->  
                    <div class="col-md-6">
                        <button class="btn btn-light mr-2 " data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
                        <a class="btn btn-outline-light" href="postagens">Ver postagem</a>
                    <!--Fim COL-MD -6 BOTÕES-->  
                    </div>
                <!--Fim row BOTÕES-->
                </div>

            <!--Fim COL-MD-6 ESQUERDA-->
            </div>

            <!--Inicio COL-MD -6 DIREITA-->
            <div class="col-md-6 d-flex justify-content-center">

                <img src="https://i.imgur.com/My3rwW6.png" alt="imagem celular com redes sociais" width="500px" height="500px">

             <!--Fim COL-MD-6 DIREITA-->
            </div>


        </div>
        <!--Fim row-->

<!--Fim Container-Fluid-->
</div>

<!--Inicio Container Postagens-->
<div class="container mb-5 mt-5" id="postagens">  

    <nav>
        <!--Inicio Div para Postagens-->
        <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active text-secondary font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Postagens</a>
          
          <!--Inicio Div para Minhas Postagens-->
          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas postagens</a>
          
          <!--Inicio Div para Postagens por Tema-->
          <a class="nav-item nav-link text-secondary font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagem por tema</a>
        </div>
      </nav>

      <!--Inicio Div para Mostrar Postagens - NAV-->
      <div class="tab-content" id="nav-tabContent">

        <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens">
           Todas as postagens 
        </div>
        <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">
            Minhas Postagens
        </div>
        <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">
            Postagens por tema
        </div>
    
    <!--Fim Div para Mostrar Postagens - NAV-->
      </div>

<!--Fim Container Postagens-->
</div>

  <!-- Modal -->
  <div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
            <!--Inicio Modal - Formulário-->
        
        <!--Inicio Formulário Nova Postagem-->
          <div mclass="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Digite o Título">
        <!--Fim Formulário Nova Postagem-->
          </div>

        <!--Inicio Formulário Nova Postagem-->
         <div mclass="form-group">
             <label for="texto">Texto</label>
             <textarea name="texto" class="form-control" id="texto" rows="3"></textarea>
        <!--Fim Formulário Nova Postagem-->
          </div>

                  <!--Inicio Formulário Nova Postagem-->
         <div mclass="form-group">
            <label for="texto">Escolha um Tema ou <a href="http://">cadastre um novo tema</a>: </label>
           <select class="form-control" name="tema" id="tema">
               <option value="">Temas</option>
           </select>
       <!--Fim Formulário Nova Postagem-->
         </div>

        <!--Fim Modal - Formulário-->
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Publicar</button>
        </div>
      </div>
    </div>
  </div>